body {
  font-family: sans-serif;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.bubble {
  background-color: lightgreen;
  width: 300px;
  height: 150px;
  border-radius: 50px;
  color: grey;
  font-size: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.speech {
  width: 0;
  height: 0;
  border-top: 30px solid lightgreen;
  border-left: 30px solid transparent;
  margin-left: 220px;
}
